<div class="accountinfo container" style="margin-left: auto; margin-right:auto"> 
    <div class="row">
        <div class="col-3 info">
            <h2>Account Info</h2>
            <img src="../../assets/images/user.png" width="100px;" >
        </div>
        <div class="col-9">
            <table class="table" >
                <tbody>
                <tr>
                    <th>Username</th>
                    <td>{{username}}</td>
                </tr>
                <!-- <tr>
                    <th>Email</th>
                    <td>{{emailAddress}}</td>
                </tr> -->
                <tr>
                    <th>Age</th>
                    <td>{{userage}}</td>
                </tr>
                <tr>
                    <th>Date of Birth</th>
                    <td>{{userbirthdate}}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><button [routerLink] = "['/profile']" class="btn btn-primary btn-block mb-4" style="width: 150px;">Update Profile</button></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
