<div class="loginform">
    <h2>Login</h2>
    <div class="tab-content" style="padding-top: 30px;">
        <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
            <form (submit)="onLoginSubmit()">
                <div class="form-outline mb-4">
                    <label class="form-label" style="font-weight: bold;">Username</label>
                    <input type="text" name="username" class="form-control" [(ngModel)]="username"/>
                </div>
                <div class="form-outline mb-4">
                    <label class="form-label" style="font-weight: bold;">Password</label>
                    <input type="password" name="password" class="form-control" [(ngModel)]="password"/>
                </div>
                <button class="btn btn-primary btn-block mb-4" style="width: 120px;" type="submit">Sign in</button>
            </form>
        </div>
    </div>
</div>
