<div>
    <div class="tab-content" style="padding-top: 20px;">
        <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
            <form >
                <h2 class="centertext">Users</h2>
                <button class="btn btn-success btn-block mb-4 c centerbtn" *ngIf="!createUser" (click)="showCreateUserRegion()">Create Users </button>
            </form>
        </div>
    </div>
    <div class="newuserform" *ngIf="createUser">
        <div class="tab-content" style="padding-top: 10px;">
            <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
                <form (submit)="onRegisterSubmit()">
                    <h2>Create User</h2>
                    <div class="form-outline mb-4" style="margin-top: 20px;">
                      <div class="row">
                        <div class="col-9">
                          <label class="form-label" style="font-weight: bold;">Username</label>
                          <input type="text" name="newUsername"[(ngModel)]="newUsername" class="form-control" placeholder="Enter name here">
                        </div>
                        <div class="col-3" style="padding-top: 30px;">
                            <input class="form-check-input" type="checkbox"  name="newSuperUserInd" style="width: 30px; height: 30px;" id ="newSuperUserInd" [(ngModel)]="newSuperUserInd" >
                            <label class="form-label" style="font-weight: bold; padding-left:10px; font-size: larger; padding-top:5px;">Super User</label>
                          </div>
                      </div>
                      <div class="row" style="margin-top: 10px;">
                        <div class="col-12">
                          <label class="form-label" style="font-weight: bold;">Email</label>
                          <input type="text" name="newEmail" [(ngModel)]="newEmail" class="form-control" placeholder="Enter email here">
                        </div>
                      </div>
                      <div class="row" style="margin-top: 10px;">
                        <div class="col-12">
                          <label class="form-label"  style="font-weight: bold;">Password</label>
                          <input type="password" name="newPassword" [(ngModel)]="newPassword" class="form-control" placeholder="Enter password here">
                        </div>
                      </div>
                      <div class="row" style="margin-top: 10px;">
                        <div class="col-12">
                          <button class="btn btn-success btn-block mb-4 centerbtn" style="width: 200px" value="Submit">Create User</button>
                        </div>
                      </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div>
        <div class ="messagebox row" *ngFor="let user of userList" >
            <div class="col-1">
                <img src="../../assets/images/user.png" style="width: 40px; height: 60px; padding-bottom: 20px;">
            </div>
            <div class="col-2">
                <p style="font-size: 20px; padding-top:5px; padding-left: 30px;"><b>{{user.username}}</b></p>
            </div>
            <div class="col-6">
            </div>
            <div class="col-3">
                <button class="btn btn-danger btn-block mb-4" style="width: 120px;">Delete</button>
                <!-- <button class="btn btn-danger btn-block mb-4" style="width: 120px;" [disabled] ="myrole != 'Super_Admin'" >Delete </button> -->
            </div>
        </div>
    </div>
</div>